body {
    background-image: url('bg bài 1.jpg');
    background-size: cover;
    background-attachment: fixed;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;font-size: 90px;
    font-family: 'Courier New', Courier, monospace, system-ui;
    font-size: 90px;
    color: #a75c5c;
    text-shadow: 2px 2px 4px #000000;
}
    
    


